a= "hello world"
type(a)
##
b=1
type(b)
c=1.2
type(c)

In [3]:
a="hello world"
a.find("lo")

3

In [7]:
len(a)

11

In [9]:
a[0:5].find("lo")

3

In [10]:
a=[1,2,3,"hello",True]

In [11]:
type(a)

list

In [12]:
a[2]

3

In [14]:
type(a[3])

str

In [15]:
type(a[0:2])

list

In [16]:
type(a[2])

int

In [17]:
a[0:4]

[1, 2, 3, 'hello']

In [18]:
a[3:]

['hello', True]

In [25]:
a[0:5:2]

[1, 3, True]

In [26]:
a[::2]

[1, 3, True]

In [27]:
a[::-1]

[True, 'hello', 3, 2, 1]

In [30]:
b="hello world"
b[::-1]

'dlrow olleh'

In [31]:
a[0:3]

[1, 2, 3]

In [33]:
a[3:0:-1]

['hello', 3, 2]

In [34]:
b=a[::-1]

In [35]:
b

[True, 'hello', 3, 2, 1]

In [36]:
b[2:4]

[3, 2]

In [38]:
a.index(3)

2

In [66]:
# if user enter c it should return w
s="abcd"
d="xywz"
a="ab"
index=(s.find(a))
d[index]
s.find(a)

0

In [67]:
index=(s.find(a))
if index!= -1:
    print (d[index])
else:
    print ("not found")

x

In [58]:
x="abcdef"
for item in x:
    print(item)
    print (" ")

a

b

c

d

e

f

In [75]:
s="abcd"
d="xywz"
a="ab"
for item1 in a:
    index=(s.find(item1))
    if index!= -1:
        print (d[index])
    else:
        print ("not found")

x
y

In [2]:
s="abcd"
d="xywz"
a="ab"
p1=""
for item1 in a:
    index=(s.find(item1))
    if index!= -1:
        p1=p1+d[index]
    else:
        print ("not found")
print(p1)

xy

In [10]:
def sum (s1,s2):
    return s1+s2

sum(1,2)
sum("hi","there")

'hithere'

In [5]:
def encoder(s1):
    p1=""
    for item1 in a:
        index=(s.find(item1))
        if index!= -1:
            p1=p1+d[index]
        else:
            print ("not found")
    return p1

In [12]:
print(encoder("ab"))

xy

In [15]:
# dictionary has key, value pair
d={'a':1,'b':2,'c':3}
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [16]:
d={'a':1,'b':2,'c':"hello world"}
print(d)

{'a': 1, 'b': 2, 'c': 'hello world'}

In [18]:
d={'key1':1,'key2':2,'key3':3,'key4':[1,2,3,4]}
print(d)

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': [1, 2, 3, 4]}

In [19]:
type(d)

dict

In [20]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': [1, 2, 3, 4]}

In [23]:
d['key1']

1

In [24]:
for item2 in d:
    print(d[item2])

1
2
3
[1, 2, 3, 4]

In [26]:
import pandas

In [30]:
df=pandas.DataFrame({'a':[1,2],'b':[3,4]})

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df

   a  b
0  1  3
1  2  4

In [33]:
import pandas as pd

In [34]:
df=pd.DataFrame({'a':[1,2],'b':[3,4]})

In [35]:
df

   a  b
0  1  3
1  2  4

In [141]:
df=pd.read_csv("physician_rx.csv")

In [142]:
len(df)

100

In [143]:
df.head(n=6)

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0
5  AP3674571       70.0           40              0         64           0

In [144]:
df.tail()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [145]:
df.shape

(100, 6)

In [146]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [147]:
df.dtypes

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [148]:
df[["PHYSICIAN","AllergyMax_RX"]][0:4]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [149]:
df.loc[0:4,["PHYSICIAN","AllergyMax_RX"]] 
# look at the number of records returned (5 records) for 0:4, here its not index but its label

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [150]:
df.iloc[0:4,0:4] # here its index

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX
0  AP1912920        0.0           50            510
1  AP1350415     2370.0         1320             60
2  AP0129322        0.0           85              0
3  AP0462902       30.0          570              0

In [151]:
df.loc[0:4,"PHYSICIAN":"AllergyMax_RX"]

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX
0  AP1912920        0.0           50            510
1  AP1350415     2370.0         1320             60
2  AP0129322        0.0           85              0
3  AP0462902       30.0          570              0
4  AP3185026        0.0           40           1080

In [75]:
df["CroMax_RX"]>50

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
      ...
70    False
71     True
72    False
73    False
74     True
75    False
76     True
77    False
78    False
79     True
80    False
81    False
82     True
83    False
84    False
85     True
86    False
87     True
88    False
89     True
90    False
91    False
92    False
93    False
94    False
95     True
96     True
97    False
98    False
99    False
Name: CroMax_RX, Length: 100, dtype: bool

In [152]:
df[df["CroMax_RX"]>50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [153]:
df[df["CroMax_RX"]>50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [154]:
CroMax50=df[df["CroMax_RX"]>50]
CroMax50PHYSICIAN=CroMax50["PHYSICIAN"]

In [84]:
CroMax50PHYSICIAN

1     AP1350415
5     AP3674571
7           NaN
10    AP1934892
Name: PHYSICIAN, dtype: object

In [155]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50) ]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [156]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50) ]["PHYSICIAN"]

1     AP1350415
7           NaN
10    AP1934892
14          NaN
16    AP0036951
21    AP1332969
22    AP2130355
23    AP0714887
26          NaN
29    AP0089696
31    AP0692473
40    AP0438309
42    AP1326350
53    AP1976314
55    AP3632706
56    AP1871832
57    AP0092627
59    AP1815618
64    AP0093884
67    AP0476079
68    AP1822470
71    AP0118925
74    AP1869077
76    AP1230067
79    AP1336198
82    AP1834639
85    AP0478796
87    AP2459335
89    AP0433841
96    AP1273998
Name: PHYSICIAN, dtype: object

In [157]:
df.iloc[0:1,0:1]

   PHYSICIAN
0  AP1912920

In [158]:
df.iat[0,0]

'AP1912920'

In [170]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [169]:
df.iloc[0,0]

'AP1912920'

In [171]:
df.isnull()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0       False      False        False          False      False       False
1       False      False        False          False      False       False
2       False      False        False          False      False       False
3       False      False        False          False      False       False
4       False      False        False          False      False       False
5       False      False        False          False      False       False
6       False      False        False          False      False       False
7        True      False        False          False      False       False
8       False      False        False          False      False       False
9       False      False        False          False      False       False
10      False      False        False          False      False       False
11      False      False        False          False      False       False
12      False      False        False          False      False       False
13      False      False        False          False      False       False
14       True      False        False          False      False       False
15      False      False        False          False      False       False
16      False      False        False          False      False       False
17      False      False        False          False      False       False
18      False      False        False          False      False       False
19      False      False        False          False      False       False
20       True      False        False          False      False       False
21      False      False        False          False      False       False
22      False      False        False          False      False       False
23      False      False        False          False      False       False
24      False      False        False          False      False       False
25      False      False        False          False      False       False
26       True      False        False          False      False       False
27      False      False        False          False      False       False
28      False      False        False          False      False       False
29      False      False        False          False      False       False
..        ...        ...          ...            ...        ...         ...
70      False      False        False          False      False       False
71      False      False        False          False      False       False
72      False      False        False          False      False       False
73      False      False        False          False      False       False
74      False      False        False          False      False       False
75      False      False        False          False      False       False
76      False      False        False          False      False       False
77      False      False        False          False      False       False
78      False      False        False          False      False       False
79      False      False        False          False      False       False
80      False      False        False          False      False       False
81      False      False        False          False      False       False
82      False      False        False          False      False       False
83      False      False        False          False      False       False
84      False      False        False          False      False       False
85      False      False        False          False      False       False
86      False      False        False          False      False       False
87      False      False        False          False      False       False
88      False       True        False          False      False       False
89      False      False        False          False      False       False
90      False      False        False          False      False       False
91      False      False        False          False      False       False
92      False      False        False          False      False       False
93      False      False        False          False      False       False
94      False      False        False          False      False       False
95      False      False        False          False      False       False
96      False      False        False          False      False       False
97      False      False        False          False      False       False
98      False      False        False          False      False       False
99      False      False        False          False      False       False

[100 rows x 6 columns]

In [173]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [174]:
rd=df["CroMax_RX"]

In [175]:
rd.isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88     True
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
Name: CroMax_RX, Length: 100, dtype: bool

In [168]:
df[rd.isnull()]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [112]:
df["CroMax_RX"].fillna(0)   # fill na in the col CroMax_RX

0        0.0
1     2370.0
2        0.0
3       30.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
       ...
70       0.0
71       0.0
72       0.0
73       0.0
74       0.0
75       0.0
76       0.0
77       0.0
78       0.0
79       0.0
80       0.0
81       0.0
82       0.0
83       0.0
84       0.0
85       0.0
86       0.0
87       0.0
88       0.0
89       0.0
90       0.0
91       0.0
92       0.0
93       0.0
94       0.0
95       0.0
96       0.0
97       0.0
98       0.0
99       0.0
Name: CroMax_RX, Length: 100, dtype: float64

In [181]:
df["CroMax_RX"]=df["CroMax_RX"].fillna(0)   #assign the replaced values to the actual column

In [182]:
df.dropna()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
30  AP0481633        0.0          340             45        280           0
31  AP0692473       90.0          215            375          0         348
32  AP0406810        0.0          110           1230          0          36
33  AP0464297        0.0          405              0          0          36
..        ...        ...          ...            ...        ...         ...
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
88  AP0812453        0.0           45              0          0         264
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[96 rows x 6 columns]

In [183]:
df.isnull().sum() # check the previous occurence of this command

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [135]:
df.shape

(6,)

In [136]:
df=df.rename(columns={'PHYSICIAN':'phys'}) # rename old to new

TypeError: rename() got an unexpected keyword argument 'columns'

In [119]:
"hello world".replace('o','@') #replace function for String

'hell@ w@rld'

In [137]:
df.columns

AttributeError: 'Index' object has no attribute 'columns'

In [133]:
df

Index(['phys', 'CroMax', 'GlycoMax', 'AllergyMax', 'FevMax', 'ColdMax'], dtype='object')

In [228]:
df=pd.read_csv("physician_rx.csv")

In [206]:
df["CroMax_RX"]

0        0.0
1     2370.0
2        0.0
3       30.0
4        0.0
5       70.0
6        0.0
7      150.0
8        0.0
9        0.0
10     640.0
11     160.0
12       0.0
13     400.0
14      90.0
15       0.0
16     330.0
17       0.0
18       0.0
19       0.0
20       0.0
21      90.0
22     160.0
23     160.0
24       0.0
25       0.0
26     150.0
27       0.0
28       0.0
29     930.0
       ...
70      50.0
71     160.0
72       0.0
73      10.0
74    1830.0
75       0.0
76     110.0
77       0.0
78       0.0
79     150.0
80       0.0
81      20.0
82     270.0
83       0.0
84       0.0
85     630.0
86       0.0
87     320.0
88       NaN
89     120.0
90       0.0
91       0.0
92       0.0
93       0.0
94       0.0
95     390.0
96     480.0
97       0.0
98       0.0
99      10.0
Name: CroMax_RX, Length: 100, dtype: float64

In [223]:
df=df.dropna()

In [224]:
df

         phys  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
30  AP0481633        0.0          340             45        280           0
31  AP0692473       90.0          215            375          0         348
32  AP0406810        0.0          110           1230          0          36
34  AP0445910        0.0          105             30          0          24
..        ...        ...          ...            ...        ...         ...
69  AP1811449        0.0           85              0         88         564
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[92 rows x 6 columns]

In [225]:
df=df.rename(columns={'PHYSICIAN':'phys'}) # rename old to new

In [226]:
df

         phys  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
30  AP0481633        0.0          340             45        280           0
31  AP0692473       90.0          215            375          0         348
32  AP0406810        0.0          110           1230          0          36
34  AP0445910        0.0          105             30          0          24
..        ...        ...          ...            ...        ...         ...
69  AP1811449        0.0           85              0         88         564
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[92 rows x 6 columns]

In [227]:
df['Bucket']="B1"

,phys,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,Bucket
0,AP1912920,0.0,50,510,152,0,B1
1,AP1350415,2370.0,1320,60,1416,2676,B1
2,AP0129322,0.0,85,0,0,144,B1
3,AP0462902,30.0,570,0,128,3900,B1
4,AP3185026,0.0,40,1080,0,0,B1
5,AP3674571,70.0,40,0,64,0,B1
6,AP0126982,0.0,135,0,0,0,B1
7,NaN,150.0,315,270,184,36,B1
8,AP1807651,0.0,650,0,0,300,B1
9,AP0728371,0.0,0,0,0,0,B1
10,AP1934892,640.0,390,0,280,0,B1
11,AP1595288,160.0,35,45,0,0,B1
12,AP1883103,0.0,225,240,0,0,B1
13,AP1365782,400.0,15,255,704,444,B1
14,NaN,90.0,150,0,0,204,B1
15,AP2443797,0.0,25,0,72,48,B1
16,AP0036951,330.0,525,0,0,0,B1
17,AP3200230,0.0,135,0,0,0,B1
18,AP0139724,0.0,85,360,0,480,B1
19,AP2166075,0.0,70,0,0,36,B1
20,NaN,0.0,20,0,0,48,B1
21,AP1332969,90.0,870,0,88,24,B1
22,AP2130355,160.0,145,0,0,180,B1
23,AP0714887,160.0,780,615,16,2964,B1
24,AP2214740,0.0,90,0,0,0,B1
25,AP0857188,0.0,130,0,0,588,B1
26,NaN,150.0,220,510,32,1128,B1
27,AP1874350,0.0,0,75,0,0,B1
28,AP3209293,0.0,55,465,0,0,B1
29,AP0089696,930.0,250,3435,0,396,B1
...,...,...,...,...,...,...,...
70,AP0683877,50.0,90,240,0,0,B1
71,AP0118925,160.0,375,0,240,0,B1
72,AP2152296,0.0,40,0,0,324,B1
73,AP1343639,10.0,45,0,24,528,B1
74,AP1869077,1830.0,140,0,488,72,B1
75,AP2196115,0.0,0,0,0,384,B1
76,AP1230067,110.0,70,0,0,0,B1
77,AP2014650,0.0,60,0,0,60,B1
78,AP2281620,0.0,255,0,0,36,B1
79,AP1336198,150.0,615,0,0,0,B1
80,AP0849708,0.0,90,3495,0,0,B1
81,AP2113896,20.0,30,0,0,0,B1
82,AP1834639,270.0,1240,60,40,60,B1
83,AP0455565,0.0,105,810,24,1896,B1
84,AP0849030,0.0,80,525,0,24,B1
85,AP0478796,630.0,240,150,0,96,B1
86,AP3589376,0.0,135,0,0,72,B1
87,AP2459335,320.0,320,0,256,12,B1
88,AP0812453,NaN,45,0,0,264,B1
89,AP0433841,120.0,65,0,0,0,B1
90,AP1947403,0.0,240,0,8,156,B1
91,AP0189854,0.0,70,720,0,0,B1
92,AP3883979,0.0,255,0,0,132,B1
93,AP0390218,0.0,105,180,40,0,B1
94,AP2286280,0.0,0,0,0,144,B1
95,AP1957774,390.0,15,0,16,36,B1
96,AP1273998,480.0,630,0,0,0,B1
97,AP1228990,0.0,0,0,0,180,B1
98,AP1881803,0.0,10,0,0,0,B1
99,AP4772804,10.0,0,0,0,0,B1

In [216]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [217]:
df=df.dropna()

In [218]:
df

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
30  AP0481633        0.0          340             45        280           0
31  AP0692473       90.0          215            375          0         348
32  AP0406810        0.0          110           1230          0          36
34  AP0445910        0.0          105             30          0          24
..        ...        ...          ...            ...        ...         ...
69  AP1811449        0.0           85              0         88         564
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[92 rows x 6 columns]

In [204]:
df

   phys  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX Bucket
0     A        0.0           50            510        152           0     B1
1     A     2370.0         1320             60       1416        2676     B1
2     A        0.0           85              0          0         144     B1
3     A       30.0          570              0        128        3900     B1
4     A        0.0           40           1080          0           0     B1
5     A       70.0           40              0         64           0     B1
6     A        0.0          135              0          0           0     B1
8     A        0.0          650              0          0         300     B1
9     A        0.0            0              0          0           0     B1
10    A      640.0          390              0        280           0     B1
11    A      160.0           35             45          0           0     B1
12    A        0.0          225            240          0           0     B1
13    A      400.0           15            255        704         444     B1
15    A        0.0           25              0         72          48     B1
16    A      330.0          525              0          0           0     B1
17    A        0.0          135              0          0           0     B1
18    A        0.0           85            360          0         480     B1
19    A        0.0           70              0          0          36     B1
21    A       90.0          870              0         88          24     B1
22    A      160.0          145              0          0         180     B1
23    A      160.0          780            615         16        2964     B1
24    A        0.0           90              0          0           0     B1
25    A        0.0          130              0          0         588     B1
27    A        0.0            0             75          0           0     B1
28    A        0.0           55            465          0           0     B1
29    A      930.0          250           3435          0         396     B1
30    A        0.0          340             45        280           0     B1
31    A       90.0          215            375          0         348     B1
32    A        0.0          110           1230          0          36     B1
34    A        0.0          105             30          0          24     B1
..  ...        ...          ...            ...        ...         ...    ...
69    A        0.0           85              0         88         564     B1
70    A       50.0           90            240          0           0     B1
71    A      160.0          375              0        240           0     B1
72    A        0.0           40              0          0         324     B1
73    A       10.0           45              0         24         528     B1
74    A     1830.0          140              0        488          72     B1
75    A        0.0            0              0          0         384     B1
76    A      110.0           70              0          0           0     B1
77    A        0.0           60              0          0          60     B1
78    A        0.0          255              0          0          36     B1
79    A      150.0          615              0          0           0     B1
80    A        0.0           90           3495          0           0     B1
81    A       20.0           30              0          0           0     B1
82    A      270.0         1240             60         40          60     B1
83    A        0.0          105            810         24        1896     B1
84    A        0.0           80            525          0          24     B1
85    A      630.0          240            150          0          96     B1
86    A        0.0          135              0          0          72     B1
87    A      320.0          320              0        256          12     B1
89    A      120.0           65              0          0           0     B1
90    A        0.0          240              0          8         156     B1
91    A        0.0           70            720          0           0     B1
92    A        0.0          255              0          0         132     B1
93    A        0.0          105            180         40           0     B1
94    A        0.0            0              0          0         144     B1
95    A      390.0           15              0         16          36     B1
96    A      480.0          630              0          0           0     B1
97    A        0.0            0              0          0         180     B1
98    A        0.0           10              0          0           0     B1
99    A       10.0            0              0          0           0     B1

[92 rows x 7 columns]